.GamePage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8dbaea;
    overflow: hidden;
    position: relative;

    &-navigate {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
}

.GameBoard {
    --perspective: 200px;

    display: flex;
    flex-direction: column;
    perspective: var(--perspective);
    margin: -10px;

    &-content {
        --angle: 15deg;
        --translate-z: -35px; // todo animation
        --translate-y: -75px;

        display: flex;
        background-color: #4f84be;
        transform: rotateX(var(--angle)) translateY(var(--translate-y))
            translateZ(var(--translate-z));
        justify-content: center;
        align-items: center;

        &-background {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            justify-content: center;
            align-items: center;
            color: rgba(255, 244, 202, 0.2);
            svg {
                font-size: 300px;
            }
        }

        &-cards {
            display: flex;
            flex-direction: column;
            gap: 80px;
            padding: 10px;
        }
    }

    .GamePlayerStatistic {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;

        &-self {
            bottom: 0;
            transform: translateY(-180%);
        }

        &:not(&-self) {
            top: 0;
            transform: translateY(50%);
        }
    }
}

.GameHand {
    width: 100%;
    display: flex;
    position: relative;
    gap: 8px;

    &-slot {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: var(--card-width);
        min-height: var(--card-height);
        padding: 3px 6px;
        outline: rgba(36, 255, 229, 0.4) 2px solid;
        border-radius: 12px;
        justify-content: center;
        align-items: center;

        &:has(.Card-active) {
            > * {
                > * {
                    transform: translateZ(150px);
                }
            }
        }
    }

    &Message {
        --pulse-offset-end: 8px;
        --pulse-offset-start: 0;
        display: flex;
        position: absolute;
        align-items: center;
        font-size: 50px;
        text-align: center;
        background-color: rgba(195, 195, 195, 0.5);
        width: 100%;
        height: 100%;
        border-radius: 12px;
        outline: 1px solid #c1c1c1;

        animation: pulse 1s infinite;
    }

    &-self {
        order: 99;
    }
}

.CardDrawn {
    flex-shrink: 0;
    position: relative;
    perspective: var(--perspective);
    min-width: var(--card-width);
    min-height: var(--card-height);
    padding: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px;
    outline: 4px #ffe1ab solid;
    outline-offset: 1px;
    border-radius: 12px;

    &-self {
        order: 5;
    }

    &-card-wrapper {
        position: absolute;
        --x-step: 1px;
        --y-step: -2px;
        --z-step: 1px;

        @for $i from 1 through 20 {
            &:nth-of-type(#{$i}) {
                transform: translateZ(calc(var(--z-step) * ($i - 1)))
                    translateY(calc(var(--y-step) * ($i - 1)))
                    translateX(calc(var(--x-step) * ($i - 1)));
                z-index: $i;
            }
        }
    }

    &:not(&-self) {
        order: -1;
        .CardDrawn-card-wrapper {
            --x-step: -1px;
        }
    }
}

.GameCurrentPhase {
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 20px;
    transform: translateY(-50%);

    &-invitation-code {
        font-size: 28px;
    }

    b {
        font-weight: bold;
        font-size: 28px;
    }
}

@keyframes attackerHit {
    0% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(var(--attacker-left-step));
    }
    85% {
        transform: translateX(var(--attacker-left-step));
    }
    95% {
        transform: translateX(calc(var(--attacker-right-step) + 5px));
    }
    100% {
        transform: translateX(var(--attacker-right-step));
    }
}

@keyframes defenderHit {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(var(--defender-right-step));
    }
    100% {
        transform: translateX(0);
    }
}

.PreviousTurnAnimation {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(12, 23, 44, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;

    &-hiding {
        opacity: 0;
    }

    &-cards {
        display: flex;
        gap: 20px;

        &-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
    }

    &-icon {
        --icon-size: 50px;
        flex: 1;
        color: white;
        display: flex;
        align-items: center;
        transition: color 0.5s;

        svg {
            transition: font-size 0.5s;
            font-size: var(--icon-size);
        }

        &-winner {
            --icon-size: 65px;
            color: #ffee86;
            animation: pulse 0.5s;
            animation-iteration-count: 3;
            outline: 1px solid #ffee86;
            border-radius: 50%;
            --pulse-offset-start: 3px;
            --pulse-offset-end: 8px;
        }

        &-loser {
            --icon-size: 35px;
            color: #808991;
        }
    }

    &-attacker {
        --attacker-left-step: -60px;
        --attacker-right-step: 30px;
        animation: attackerHit 1.5s;
    }

    &-defender {
        --defender-right-step: 10px;
        animation: defenderHit 0.5s;
        animation-delay: 1.3s;

        &-empty {
            border: 1px solid white;
            width: var(--card-width);
            height: var(--card-height);
            border-radius: 8px;
        }
    }
}
