.RoundStatistic {
    --color: white;
    --size: 30px;
    --font-size: 20px;

    font-size: var(--font-size);
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;

    width: calc(2 * var(--size));
    height: var(--size);
    border: 3px solid #c6c6c6;

    font-weight: bold;
    background-color: var(--color);
    border-radius: 10px;

    svg {
        font-size: var(--font-size);
    }
    &-attack {
        --color: #7e0b26;
    }

    &-defense {
        --color: #1d5370;
    }

    &-rarity {
        --color: #cc9300;
    }
}
