
.RoundStatistic {
    --color: white;
    --size: 30px;

    color: #ffffff;
    background-color: var(--color);

    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;

    border: 3px solid #c6c6c6;
    font-weight: bold;
}

.RoundStatistic-attack {
    --color: #7e0b26;
}

.RoundStatistic-defense {
    --color: #1d5370;
}

.RoundStatistic-rarity {
    --color: #cc9300;
}