.Cards {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;
    gap: 4px;
    justify-content: center;
}

.Header {
    &-filters {
        display: flex;
    }
}

.Deck {
    &-header {
        display: flex;
        background-color: #e2e2e2;
        align-items: center;
    }
}
